/* Montserrat font */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
article, aside, canvas, details, embed, 
figure, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

html {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	height: 100%;
}

header, footer, main, nav, section, div {
	display: block;
}

header {
	background-color: #466995; /* blue */
	position: fixed;
	width: 100%;
	z-index: 10; 
}

.main h1, h2, p {
	margin: 0 10%;
	margin-bottom: 10px;
}

p {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
	text-align: center;
}

.header {
	padding: 10px 20px;
	text-align: right;
	display: block;
}

.header a:link,
.header a:visited {
	text-decoration: none;
	color: white;
}

.header a:hover {
	color: blue;
}

.specialtext:link,
.specialtext:visited {
	text-decoration: none;
	color: black;
}

/* theres gotta be a better way than this ... */

a.notpage {
	opacity: 0.5;
}


li {
	display: inline-block;
}

.header a {
	display: block;
	padding: 5px 20px;
}

.banner {
	position: relative;
}

.banner h1 {
	position: absolute;
	top: 50%;
	left: 20%;
}

.banner img{
	width: 100%;
	height: 300px;
	background-size: contain;
}

.main {
	position: relative;
	top: 10px;
}

.page1 {
	background-image: url("slam2panlogo.png");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-top: 0;
}

.name {
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 5%;
}

.name h1 {
	text-align: center;
	margin-top: 5vh;
	color: white;
	font-size: 7vh;
}

.name p {
	color: white;
	font-size: 3vh;
}

.text {
	position: relative;
	text-align: center;
}

.text a {
	background-color: white;
	padding: 10px;
	border-radius: 100%;
	margin-top: 20px;
}

a img {
	margin-bottom: -6px;
}


.text nav{
	position: relative;
}

.first {
	display: block;
	position: absolute;
	margin-top: 80vh;
}

.portfolio {
	margin: 0 100px;
	margin-top: 100px;
}

.portfolio h3 {
	text-align: center;
	margin-bottom: 20px;
}

/* store  label heads */

.sect {
	display: block;
	width: 100%;
	background-color: #87cefa; /* light blue */
	padding: 50px 0;
	margin-bottom: 30px;
}

.sect p {
	display: inline-block;
	margin: auto;
	width: 40%;
	padding-left: 15%;
}

.sect .text {
	display: inline-block;
	position: relative;
	width: 40%;
	margin-top: 4vh;
	vertical-align: top;
}


.standard {
	text-align: center;
	margin-bottom: 20px;
}

.standard p {
	margin: 0 10%;
}

.vidFrame {
	display: block;
    margin-top: 20px;
    text-align: center;
}

.sidebyside{
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

.sub {
	background-color: #fff9f2; /* pale */
	position: relative;
	width: 40%;
	height: 300px;
	text-align: center;
	border: 1px solid #a1a09d;
	margin: 5px;
}

.sub img {
	padding-top: 20px;
	max-width: 20%;
}

.sub p {
	position: absolute;
}

.end {
	margin-bottom: 20px;
}

@media {
    .video{
    	display: inline-block;
    	position: relative;
        max-width:45%;
        height: auto;
        padding-bottom: 10px;
        margin: 0 3vw;
    }
}

/* For Javascript */

.buttons {
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}

button {
	text-align: center;
	border-radius: 100%;
	border: none;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	padding: 10px 10px;
	margin: 0 10px;
	background-color: white;
	border: 2px solid #0099cc; /* blue */
	transition-duration: 0.4s;
	outline: none;
}

button:hover {
	cursor: pointer;
	background-color: #0099cc; /* blue */
}

button:active {
	transform: translateY(3px);
}

#Montages {
	display: block;
}

#IRL {
	display: none;
}
